@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --green:#2da44e;
    --dark:#24292f;
    --light:#f6f8fa;
    --bColor:rgb(141,141,141);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: azure;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 500px;
   
}
.logo{
    margin-bottom: 20px;
}
.logo i{
    font-size: 50px;
}
a{
    text-decoration: none;
}
.github-head{
    font-size: 1.7rem;
}
.login-container{
    border: 1px solid var(--bColor);
    width: 100%;
    padding: 25px 15px;
    border-radius:5px ;
    background-color: var(--light);
    margin-top: 2.5rem;
}
.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}
.input-label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}
input{
    width: 100%;
    outline: none;
    margin-top: 5px;
    font-size: 1rem;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid var(--dark);
}
input:focus{
    border: 1px solid blue;
}
.submit-btn{
    width: 100%;
    padding: 5px 0px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    color: var(--light);
}
.submit-btn:hover{
    transform: translateY(-2px);
}
.info{
    margin-top: 2rem;
    font-size: 1rem;
    background-color: var(--light);
    width: 100%;
    text-align: center;
    border: 1px solid var(--bColor);
    border-radius: 5px;
    padding: 20px 15px;

}